PORT=3000
DOMAIN=localhost:3000
DATABASE_URL=postgresql://secret_detector:secret_detector@localhost:5432/secret_detector
REDIS_URL=redis://localhost:6379

POSTGRES_DB=secret_detector
POSTGRES_USER=secret_detector
POSTGRES_PASSWORD=secret_detector
POSTGRES_PORT=5432
